<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>好订通</title>
{%include file="header.html"%}
</head>

<body class="bodybg">
<div class="contain">
  {%include file="top.html"%}
  <div class="mainbox">
    <div class="main_con">
      <div class="box">
        {%$show.u.username%} {%$show.u.name%}
        <div class="construebox">
          <div class="cleftmenu">
            <h3></h3>
            {%include file="dealer/menu.html"%}
            </div>
          
          <div class="cons_main">
            <div class="cons_tabl" id="HDT-main" data-user-id="{%$show.id%}" data-field="{%$show.t%}">
              <table  border="0" cellpadding="0" cellspacing="0">
                <tr>
                  <th>{%if $message%}<font color="red">{%$message%}</font>{%/if%}</th>
                  <th>款量指标</th>
                  <th>款色指标</th>
                  <th>数量指标</th>
                  <th>金额指标</th>
                </tr>
                {%section name=i loop=$show.list%}
                <tr>
                  <td>{%$show.list[i].keywords.name%}</td>
                  <td>
                    <input type="text" name="exp_pnum" data-keyword-id="{%$show.list[i].keyword_id%}" value="{%$show.list[i].exp.exp_pnum%}" style="width:80px;">
                  </td>
                  <td>
                    <input type="text" name="exp_skc" data-keyword-id="{%$show.list[i].keyword_id%}" value="{%$show.list[i].exp.exp_skc%}" style="width:80px;">
                  </td>
                  <td>
                    <input type="text" name="exp_num" data-keyword-id="{%$show.list[i].keyword_id%}" value="{%$show.list[i].exp.exp_num%}" style="width:80px;">
                  </td>
                  <td>
                    <input type="text" name="exp_price" data-keyword-id="{%$show.list[i].keyword_id%}" value="{%$show.list[i].exp.exp_price%}" style="width:80px;">
                  </td>
                </tr>
                {%/section%}
              </table>
            </div>
         </div>
           <div class="clear"></div>
        </div>
        
      </div>
       <!--foot-->
{%include file="footer.html"%}
      <!--foot end-->
    </div>
    {%include file="right.html"%}
    <div class="clear"></div>
  </div>
</div>
<script>
seajs.use('lj/admin/dealer/exp');
</script>
</body>
</html>
