<div class="user_select_list">
<div class="user_select_title">选择账号</div>
<h3><a href="javascript:void(0)" list_type='1' class='list_type {%if $show.list_type eq 1%}on{%/if%}'>一级店仓</a>
<h3 class="h3"><a href="javascript:void(0)" list_type='2' class='list_type {%if $show.list_type eq 2%}on{%/if%}'>总代用户</a></h3>
<div class="clear"></div>
{%if $show.list_type eq 1%}
<div class="select-menu">
	<span class="searchSelects" data-default="{%$show.area%}">
		<select name="area1" class="select"></select>
		<select name="area2" class="select"></select></span>
	{%if $show.zd_list%}
	<select name="zd_id" class="select">
	<option value="">所属总代</option>
	{%section name=i loop=$show.zd_list%}
	<option value="{%$show.zd_list[i].id%}">{%$show.zd_list[i].name%}</option>
	{%/section%}
	</select>
	{%/if%}
	<input type="text" name="q" value="{%$show.q%}" style="width:100px;" placeholder="输入帐号/名称">
	<input id="submit" class="search" type="button" value="搜索">
</div>
{%/if%}
<div><input type="checkbox" class="selectall">全选/全不选 <input type="button" class="reverse" value="反选"></input></div>
<ul>
<div class="user_list"></div>
</ul>
<div class="clear"></div>
<div id="Pagination" class="pagination"></div>
<div id="hiddenresult" style="display:none;">
	<!-- 列表元素 -->
</div>
<div class="clear"></div>
<input type="button" id="add_user" value="保存" class="save2"></input>
</div>
