<ul>
<li><a href="/menu/index/1" {%if $show.utype=="1"%}class="on"{%/if%}>订货端</a></li>
<li><a href="/menu/index/2" {%if $show.utype=="2"%}class="on"{%/if%}>总代</a></li>
<li><a href="/menu/index/4" {%if $show.utype=="4"%}class="on"{%/if%}>区域经理</a></li>
<li><a href="/menu/index/3" {%if $show.utype=="3"%}class="on"{%/if%}>总经理</a></li>
<li><a href="/menu/index/5" {%if $show.utype=="5"%}class="on"{%/if%}>管理员</a></li>
<li><a href="/menu/index/9" {%if $show.utype=="9"%}class="on"{%/if%}>{%$keyword.designer_id%}</a></li>
</ul>