{%section name=i loop=$show.list%}
{%if $show.start == 0 && $smarty.section.i.index == 0%}
<tr>
  <th class="numid">排名</th>
  <th width="113">{%$keyword.series_id%}名称</th>
  <th>款量</th>
  <th>总订量</th>
  <th colspan="3" width="403">订量前三经销商</th>
</tr>
{%/if%}
<tr>
  <td>{%$smarty.section.i.rownum + $show.start%}</td>
  <td class="name"><a href="/{%if $currentUser.type==1%}dealer1{%elseif $currentUser.type==2%}dealer2{%elseif $currentUser.type==3%}ad{%/if%}?series_id={%$show.list[i].keyword_id%}">{%$show.list[i].name%}</a></td>
  <td>{%$show.list[i].pnum%}</td>
  <td>{%$show.list[i].num%}</td>
  <td class="tdfl"><em class="num1">1</em>{%$show.list[i].toplist[0].name%}</td>
  <td class="tdfl"><em class="num2">2</em>{%$show.list[i].toplist[1].name%}</td>
  <td class="tdfl"><em class="num3">3</em>{%$show.list[i].toplist[2].name%}</td>
</tr>
{%/section%}