{%if $show.start==0%}
<tr>
<th class="th2" style="width:50px;">排名</th>
<th class="th2">编号</th>
<th class="th2">款号</th>
<th class="th2">{%$keyword.category_id%}</th>
<th class="th2">{%$keyword.wave_id%}</th>
<th class="th2">{%$keyword.series_id%}</th>
<th class="th2" data-order="num">订数</th>
<th class="th2">单价</th>
<th class="th2" data-order="price">金额</th>
<th class="th2" style="width:50px;">款色</th>
</tr>
{%/if%}{%section name=i loop=$show.list%}
{%if $show.list[i].num%}
<tr {%if $show.list[i].moq && $show.list[i].moq.minimum > $show.list[i].num%}class="redborder"{%/if%}>
<td>{%$smarty.section.i.rownum + $show.start%}</td>
<td>{%$show.list[i].bianhao%}</td>
<td><a href="/index/detail/{%$show.list[i].id%}">{%$show.list[i].kuanhao%}</a>{%if $show.list[i].status==2%} (<em>不计指标</em>）{%/if%}</td>
<td><a href="/index/detail/{%$show.list[i].id%}">{%$show.list[i].category_id|hdt_keyword%}</a></td>
{%if $currentUser.type==1%}
<td><a href="/dealer1?wave_id={%$show.list[i].wave_id%}">{%$show.list[i].wave%}</a></td>
<td><a href="/dealer1?series_id={%$show.list[i].series_id%}">{%$show.list[i].series%}</a></td>
{%else%}
<td>{%$show.list[i].wave%}</td>
<td>{%$show.list[i].series%}</td>
{%/if%}
{%if $show.list[i].moq && $show.list[i].moq.minimum > $show.list[i].num%}
<td colspan=2>{%$show.list[i].num%} (<em>未达到最小起定量:{%$show.list[i].moq.minimum%}</em>）</td>
{%else%}
<td>{%$show.list[i].num%}</td>
<td>{%$show.list[i].p_price%}</td>
{%/if%}
<td>{%$show.list[i].price|price_cn%}</td>
<td>{%$show.list[i].skc%}</td>
</tr>
{%else%}
<tr>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
{%/if%}
{%/section%}