<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>好订通</title>
{%include file="header.html"%}
</head>

<body class="bodybg">
<div class="contain">
  {%include file="top.html"%}
  <div class="mainbox">
    <div class="main_con">
      <a class="buttonLink positionSpec" href="/dealer1/myorders">订单总览</a>
      <iframe src="/dealer1/orderdetail" id="iFrame1" style="width:100%;height:100%;"></iframe>
       <!--foot-->
{%include file="footer.html"%}
      <!--foot end-->
    </div>
    {%include file="right.html"%}
    <div class="clear"></div>
  </div>
</div>
<script type="text/javascript" src="/js/sea.js"></script>
<script>
seajs.use("lj/dealer1/orderdetailframe");
</script>
</body>
</html>