{%include file="top.1.html"%}

  <div class="tit_bar">
  {%if $currentUser.type == 3%}
{%if $show.user.username eq '0'%}
<ul class="select_menu" id="HDT-select-menu" style="margin-right:10px">
<li class="Selects">
    <select name="area1"></select>
    <select name="area2"></select>
</li>
<li>
	<select name="fliter_uid"></select>
</li>
</ul>
{%/if%}
{%/if%}
    <div class="advanceSearch">高级筛选</div>
    <div id="advanceSearchMain" style="display:none;width:950px;">
    <ul id="selectList"></ul>
  		<div id="selectArea">
    {%include file="fancybox/top.hpgc.part.html"%}
  </div>
  </div>
    {%include file="top.search.html"%}
  </div>
  <!--tit_bar end-->
{%include file="top.script.html"%}