<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>好订通</title>
{%include file="header.html"%}
</head>

<body class="bodybg">
<div class="contain">
  {%assign var="title1" value="{%$keyword.brand_id%}信息管理"%}
  {%include file="top.html"%}
  <div class="mainbox">
    <div class="main_con">
      <div class="box">
        <table cellspacing="0" cellpadding="0" border="0" class="table01" id="HDT-main-table">
          <tbody>
          <tr class="hbg">
            <th colspan=4> <a href="#" class="HDT-add-user" style="color:blue;">+ 新增会场</a>{%if $message%} <font color="red">{%$message%}</font>{%/if%}</th>
          </tr>
          <tr class="hbg">
            <th>会场名称</th>
            <th>系统编号</th>
            <th>操作</th>
            <th>删除</th>
          </tr>
          {%section name=i loop=$show.list%}
          <tr>
            <td>{%$show.list[i].name%}
              [<a href="#" class="HDT-edit" data-name="{%$show.list[i].name%}" data-id="{%$show.list[i].id%}">修改</a>]
            </td>
            <td>{%$show.list[i].id%}</td>
            <td>
              <a href="/show/room/{%$show.list[i].id%}">加秀款</a>
            </td>
            <td>
              <a href="/show/room_delete/{%$show.list[i].id%}" onclick="return confirm('确认删除会场？');">删除</a>
            </td>
          </tr>
          {%/section%}
        </tbody></table>
        {%$show.pagelist%}
      </div>
       <!--foot-->
{%include file="footer.html"%}
      <!--foot end-->
    </div>
    {%include file="right.html"%}
    <div class="clear"></div>
  </div>
</div>
<script type="text/jquery-tmpl" id="tmpl-user-add">
<form method="POST" action="/show/room_add">
<input type="hidden" name="id">
<p>会场名称:<input type="text" name="name"></p>
<p><input type="submit" value="保存"></p>
</form>
</script>
<script type="text/javascript">
seajs.use('lj/admin/show/index');
</script>
</body>
</html>
