<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>好订通</title>
{%include file="header.html"%}
</head>

<body class="bodybg">
<div class="contain">
  {%include file="top.html"%}
  <div class="mainbox">
    <div class="main_con">
      <div class="box">
        {%include file="import/menu.html"%}
        <div>{%if $message%}<font color="red">{%$message%}</font>{%/if%}</div>
        <hr>
        <h2>商品资料批量上传/更新</h2>
        <form action="/import/data" method="POST" enctype="multipart/form-data" onSubmit="return confirm('确认操作？')">
          <input type="hidden" name="k" value="product">
          <div>
          <input type="file" name="file"> (导入格式为xls) [<a href="/download/product.xls">模板下载</a>]
          </div>
          <div>
            <input type="checkbox" name="passfirst" value="1" checked="checked">忽略第一行 <br>
            <input type="checkbox" name="checksize" value="1">检查尺码(勾选之后将核对尺码，<font color="red">若尺码减少，对应订单将被彻底删除</font>) <br>
            图片核对格式 : 
            <select name="imgstring">
              <option value="kuanhao">款号</option>
              <option value="bianhao">编号</option>
              <option value="huohao">货号</option>
              <option value="skc_id">圆牌号</option>
              <option value="product_color">款色</option>
            </select>
          </div>
            <input type="submit" value="更新数据">
        </form>
        <hr>

        <h2>搭配资料批量上传/更新</h2>
        <form action="/import/data" method="POST" enctype="multipart/form-data" onSubmit="return confirm('确认操作？')">
          <input type="hidden" name="k" value="product_group">
          <div>
          <input type="file" name="file"> (导入格式为xls) [<a href="/download/product.group.xls">模板下载</a>]
          </div>
          <div>
            <input type="checkbox" name="passfirst" value="1" checked="checked">忽略第一行 <br>
            搭配{%$keyword.style_id%}核对格式 : <select name="unitkey">
              <option value="kuanhao">款号</option>
              <option value="bianhao">编号</option>
              <option value="huohao">货号</option>
              <option value="skc_id">圆牌号</option>
            </select>
          </div>
            <input type="submit" value="更新数据">
        </form>
        <hr>

        <h2>陈列资料批量上传/更新</h2>
        <form action="/import/data" method="POST" enctype="multipart/form-data" onSubmit="return confirm('确认操作？')">
          <input type="hidden" name="k" value="product_display">
          <div>
          <input type="file" name="file"> (导入格式为xls) [<a href="/download/product.display.xls">模板下载</a>]
          </div>
          <div>
            <input type="checkbox" name="passfirst" value="1" checked="checked">忽略第一行 <br>
            陈列{%$keyword.style_id%}核对格式 : <select name="unitkey">
              <option value="kuanhao">款号</option>
              <option value="bianhao">编号</option>
              <option value="huohao">货号</option>
              <option value="skc_id">圆牌号</option>
              <option value="group_id">搭配号</option>
            </select>
          </div>
            <input type="submit" value="更新数据">
        </form>
        <hr>
        
        <h2>库存批量上传/更新</h2>
        <form action="/import/data" method="POST" enctype="multipart/form-data" onSubmit="return confirm('确认操作？')">
          <input type="hidden" name="k" value="product_stock">
          <div>
          <input type="file" name="file"> (导入格式为xls) [<a href="/download/product.stock.xls">模板下载</a>]
          </div>
          <div>
            <input type="checkbox" name="passfirst" value="1" checked="checked">忽略第一行 <br>
          </div>
            <input type="submit" value="更新数据">
        </form>
        <hr>
        
        <h2>起投量批量上传/更新</h2>
        <form action="/import/data" method="POST" enctype="multipart/form-data" onSubmit="return confirm('确认操作？')">
          <input type="hidden" name="k" value="product_color_moq">
          <div>
          <input type="file" name="file"> (导入格式为xls) [<a href="/download/product.color.moq.xls">模板下载</a>]
          </div>
          <div>
            <input type="checkbox" name="passfirst" value="1" checked="checked">忽略第一行 <br>
          </div>
            <input type="submit" value="更新数据">
        </form>
        <hr>

        <h2>尺码起订量批量上传/更新</h2>
        <form action="/import/data" method="POST" enctype="multipart/form-data" onSubmit="return confirm('确认操作？')">
          <input type="hidden" name="k" value="product_size_mininum">
          <div>
          <input type="file" name="file"> (导入格式为xls) [<a href="/download/product.size.mininum.xls">模板下载</a>]
          </div>
          <div>
            <input type="checkbox" name="passfirst" value="1" checked="checked">忽略第一行 <br>
          </div>
            <input type="submit" value="更新数据">
        </form>
        <hr>
        
        <h2>色系资料上传/更新</h2>
        <form action="/import/data" method="POST" enctype="multipart/form-data" onSubmit="return confirm('确认操作？')">
          <input type="hidden" name="k" value="product_color_group">
          <div>
          <input type="file" name="file"> (导入格式为xls) [<a href="/download/product.color.group.xls">模板下载</a>]
          </div>
          <div>
            <input type="checkbox" name="passfirst" value="1" checked="checked">忽略第一行 <br>
          </div>
            <input type="submit" value="更新数据">
        </form>
        <hr>

        <h2>指导量上传/更新</h2>
        <form action="/import/data" method="POST" enctype="multipart/form-data" onSubmit="return confirm('确认操作？')">
          <input type="hidden" name="k" value="user_guide">
          <div>
          <input type="file" name="file"> (导入格式为xls) [<a href="/download/user.guide.xls">模板下载</a>]
          </div>
          <div>
            <input type="checkbox" name="passfirst" value="1" checked="checked">忽略第一行 <br>
          </div>
            <input type="submit" value="更新数据">
        </form>
        <hr>
        
      </div>
       <!--foot-->
{%include file="footer.html"%}
      <!--foot end-->
    </div>
    {%include file="right.html"%}
    <div class="clear"></div>
  </div>
</div>
<script type="text/javascript">
seajs.use('lj/admin/import/index');
</script>
</body>
</html>
