<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>好订通</title>
{%include file="header.html"%}
</head>

<body class="bodybg">
<div class="contain">
  {%include file="top.ranking_list.html"%}
  <div class="mainbox">
    <div class="main_con">
    <div class="box">
      <!-- <br>
      <input type="{%$show.company.keyboard|default:'number'%}" value="" id="rank_search" placeholder="输入圆牌号、款号搜索" 
        style="float:right;position: absolute; top: 5px;right: 20px"> -->
      <table cellspacing="0" cellpadding="0" border="0" class="table01"  id="HDT-main"></table>
       </div>
       <!--foot-->
{%include file="footer.html"%}
      <!--foot end-->
    </div>
    {%include file="right.html"%}
    <div class="clear"></div>
  </div>
</div>
<script>
seajs.use("lj/a/ranking_list");
</script>
</body>
</html>
