<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>好订通</title>
{%include file="header.html"%}
</head>

<body class="bodybg">
<div class="contain">
  {%include file="top.ad.html"%}
  <div class="mainbox">
    <div class="main_con">
    <div class="selectFrontList"></div>
      <ul class="prolist clearfix" id="HDT-main"></ul>
       <!--foot-->
{%include file="footer.html"%}
      <!--foot end-->
    </div>
    {%include file="right.html"%}
    <div class="clear"></div>
  </div>
</div>
<input type="hidden" name="q" id="HDT-hidden-q" value="{%$show.q%}">
<input type="hidden" name="message" id="HDT-message" value="{%$message%}">
<script>
seajs.use("lj/dealer2/index");
</script>
</body>
</html>
