<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>好订通</title>
{%include file="header.html"%}
</head>

<body class="bodybg">
<div class="contain">
{%include file="top.analysis.html"%}
  <div class="mainbox">
    <div class="main_con">
      <div class="box">
        <div class="HDT_charts_bars"></div>
        <div class="HDT_charts_pies"></div>
        <div id="container"></div>
        <div class="construebox">
          <div class="cleftmenu">
            <h3>项目\内容</h3>
            <ul id="HDT-menu-summary">
            <li><a href="/dealer2/summary#1,2" data-t="1,2">{%$keyword.wave_id%}{%$keyword.category_id%}</a></li>
            <li><a href="/dealer2/summary#1,4" data-t="1,4">{%$keyword.wave_id%}尺码</a></li>
            <li><a href="/dealer2/summary#1,5" data-t="1,5">{%$keyword.wave_id%}{%$keyword.price_band_id%}</a></li>
            <li><a href="/dealer2/summary#2,5" data-t="2,5">{%$keyword.category_id%}{%$keyword.price_band_id%}</a></li>
            </ul>
		  </div>
          
          <div class="cons_main">
            <div class="cons_tabl">
              <table  border="0" cellpadding="0" cellspacing="0" id="HDT-main"></table>
            </div>
         </div>
           <div class="clear"></div>
        </div>
        
      </div>
       <!--foot-->
      {%include file="footer.html"%}
      <!--foot end-->
    </div>
    <!--rightbar-->
    {%include file="right.html"%}
    <!--rightbar end-->
    <div class="clear"></div>
  </div>
</div>
<script>
seajs.use("lj/dealer2/summary");
</script>
</body>
</html>
