<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>好订通</title>
{%include file="header.html"%}
</head>

<body class="bodybg">
<div class="contain">
  {%include file="top.html"%}
  <div class="mainbox">
    <div class="main_con">
      <div class="box">
        <div class="construebox">
          <div class="cleftmenu">
            <h3>订单管理</h3>
            {%include file="order_manage/menu.html"%}
            </div>
          
          <div class="cons_main">
            <div class="cons_tabl">
              <table  border="0" cellpadding="0" cellspacing="0" >
                <tr>
                  <th class="thitem">项目名称</th>
                  <th colspan="3">{%if $message%}<font color="red">{%$message%}</font>{%/if%}</th>
                </tr>
                <tr>
                  <td colspan="4">
                    <form method="POST" action="/keyword/add">
                      <input type="hidden" name="t" value="{%$show.t%}" id="FactoryTable">
                      <input type="text" name="name" >
                      <input type="submit" value="增加">
                    </form>
                  </td>
                </tr>
                <tr>
                  <td colspan="4">
                    <ul id="sortable">
                    {%section name=i loop=$show.list%}
                    <li data-id="{%$show.list[i].id%}" data-rank="{%$show.list[i].rank%}">
                      {%$show.list[i].keywords.name%}
                      <a href="/keyword/delete/{%$show.list[i].id%}?t=price_band"><font color="red">删</font></a>
                    </li>
                    {%/section%}
                    </ul>
                </td>
                </tr>
                
              </table>
            </div>
         </div>
           <div class="clear"></div>
        </div>
        
      </div>
       <!--foot-->
{%include file="footer.html"%}
      <!--foot end-->
    </div>
    {%include file="right.html"%}
    <div class="clear"></div>
  </div>
</div>
<script>
seajs.use('lj/admin/keyword/index');
</script>
</body>
</html>
