<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>[{%$show.u.username%}]{%$show.u.name%} {%$show.company.fairname%} 订单</title>
<style type="text/css">
body,td,th {
	font-family: "微软雅黑";
	font-size: 12px;
}
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
.bborder{border-bottom:1px solid #333;}
.hei{color:#000000;}
.cui{font-weight:800;}
.backhui{background-color:#F2F2F2;}
.f18{font-size:18px; line-height:38px;}
.f14{font-size:14px; line-height:28px;}
.f16{font-size:16px; line-height:28px;}
.tc{text-align:center;}
.mtop8{margin-top:8px;}
.mtop16{margin-top:16px;}
.mbg{background-color:#999999;}
td{background-color:#FFF;}
.tcolor1{border-bottom:1px solid #999999;}
table{border-collapse:collapse; border:none;}
td{border:1px solid #333;}
td span {font-size: 14px;}
p {margin: 0px;}
</style>
</head>

<body>
<table width="710" border="0" align="center" cellpadding="4" cellspacing="0" bgcolor="#999999">
  <tr>
    <td colspan="2" class="f18 tc"><img src="/thumb/75/{%$show.company.logo%}" style="float: left; height: 38px;">{%$show.company.fairname%} 订货单 <font color="red">
	{%if $show.company.check_order%}
    	{%if $show.u.is_lock%}已审{%elseif $show.u.order_status eq 1%}待确认{%elseif $show.u.order_status eq 2%}已驳回{%elseif $show.u.order_status eq 3%}已确认{%else%}未提交{%/if%}
    {%else%}
    	{%if $show.u.is_lock%}已审{%else%}未审{%/if%}
    {%/if%}  
	</font>
	<form method='get' action='{%$show.current_url%}' style='display:inline;float: right;font-size: 14px;'>
          按
    {%foreach from=$show.query_data key=qdkey item=qdval%}
    {%if $qdkey eq 'key'%}
    <select name="key" onchange="this.form.submit();">
   	{%foreach from=$show.category_array key=cakey item=caval%}
   	<option value="{%$cakey%}" {%if $cakey eq $show.key%}selected="selected"{%/if%} >{%$caval%}</option>
   	{%/foreach%}
    </select>
    {%else%}
    <input name="{%$qdkey%}" type="hidden" value="{%$qdval%}">
    {%/if%}
   	{%/foreach%}

         分类查看
    </form>
	</td>
  </tr>
  <tr>
    <td width="388" class="f14">客户：{%$show.u.name%}</td>
    <td width="271">打印时间：{%$smarty.now|date_format:"%Y-%m-%d %H:%M:%S"%}<form style="display:inline;margin-left:10px;" action='{%$show.current_url%}' method="get"><select name="show_price" onchange="this.form.submit()">
    <option value="1" {%if $show.show_price eq 1%}selected="selected"{%/if%}>不显示</option>
    <option value="2" {%if $show.show_price eq 2%}selected="selected"{%/if%}>显示金额</option>
    <option value="3" {%if $show.show_price eq 3%}selected="selected"{%/if%}>显示折后价</option>
    {%foreach from=$show.query_data key=qdkey item=qdval%}
    {%if $qdkey neq 'show_price'%}<input name="{%$qdkey%}" type="hidden" value="{%$qdval%}">
    {%/if%}
   	{%/foreach%}</select></form></td>
  </tr>
</table>

<table width="710" border="0" align="center" cellpadding="1" cellspacing="0" class="mtop8 mbg">
  <THEAD style="display:table-header-group;font-weight:bold">
  <tr>
    <td>款号</td>
    <td>款名</td>
    <td>颜色</td>
    <td>圆牌号</td>
    {%section name=z loop=$show.newSizeList%}
    <td>
      {%foreach from=$show.newSizeList[z] item=size_id%}<p>{%$size_id|hdt_keyword|default:"&nbsp;"%}</p>{%/foreach%}
    </td>
    {%/section%}
    <td>订数</td>
    <td>单价</td>
    {%if $show.show_price eq 2%}<td>金额</td>{%/if%}
    {%if $show.show_price eq 3%}<td>折后价</td>{%/if%}
  </tr>
  </THEAD>
{%section name=i loop=$show.list%}
  {%section name=j loop=$show.list[i].listing%}
  <tr>
    <td>{%$show.list[i].listing[j].kuanhao%}</td>
    <td>{%$show.list[i].listing[j].name%}</td>
    <td>{%$show.list[i].listing[j].product_color_id|hdt_keyword%}</td>
    <td>{%$show.list[i].listing[j].skc_id%}</td>
    {%foreach from=$show.list[i].listing[j].size_list item=num%}
    <td>{%$num%}</td>
    {%/foreach%}
    <td>{%$show.list[i].listing[j].num%}</td>
    <td>{%$show.list[i].listing[j].p_price%}</td>
    {%if $show.show_price eq 2%}<td>{%$show.list[i].listing[j].price%}</td>{%/if%}
    {%if $show.show_price eq 3%}<td>{%$show.list[i].listing[j].o_discount_price%}</td>{%/if%}
  </tr>
  {%/section%}
{%/section%}
</table>

<table width="710" border="0" align="center" cellpadding="4" cellspacing="0" bgcolor="#999999" class="mtop16">
  <tr>
    <td width="496" {%if $show.show_price eq 1%}rowspan="3"{%/if%} class="">
    {%if $show.u.exp_num || $show.u.exp_price%}
      尊敬的{%$show.u.name%}客户，本次订货会您的
      {%if $show.u.exp_num%}金额指标是{%$show.u.exp_num%}件{%/if%}
      {%if $show.u.exp_price%}金额指标是{%$show.u.exp_price%}元{%/if%}
      {%/if%}
    </td>
    <td class="cui f16">总订量：{%$show.all_num%}</td>
  </tr>
  {%if $show.show_price eq 1%}
  <tr>
    <td width="198" class="cui f16">总金额：{%$show.all_price%}</td>
  </tr>
  <tr>
    <td width="198" class="cui f16">折后金额：{%$show.discount_price%}</td>
  </tr>
  {%/if%}
</table>

{%if $show.messagelist%}
<table width="710" border="0" align="center" cellpadding="1" cellspacing="0" bgcolor="#999999" class="mtop16">
  <tr>
    <td class="hei backhui">款号</td>
    <td class="hei backhui">备注</td>
  </tr>
  {%section name=i loop=$show.messagelist%}
  <tr>
    <td>{%$show.messagelist[i].kuanhao%}</td>
    <td>{%$show.messagelist[i].message%}</td>
  </tr>
  {%/section%}
</table>
{%/if%}
{%if $show.company.order_text%}
<table width="710" border="0" align="center" cellpadding="4" cellspacing="0" bgcolor="#999999" class="mtop16">
  <tr>
    <td class="cui f14">{%$show.company.order_text%}</td>
  </tr>
</table>
{%/if%}
<table width="710" border="0" align="center" cellpadding="4" cellspacing="0" bgcolor="#999999" class="mtop16">
  <tr>
    <td width="53" class="cui f14">主管：</td>
    <td width="233" class="bborder">&nbsp;</td>
    <td width="63" class="">&nbsp;</td>
    <td width="55" class="cui f14">客户：</td>
    <td width="216" class="bborder">&nbsp;</td>
    <td width="42" class="cui f16">&nbsp;</td>
  </tr>
    <tr>
    <td colspan="6">订单<font color="red">{%if $show.company.check_order%}
    	{%if $show.u.is_lock%}已审核, <a href="javascript:print();">点此打印订单</a>{%elseif $show.u.order_status eq 1%}待确认{%elseif $show.u.order_status eq 2%}已驳回{%elseif $show.u.order_status eq 3%}已确认{%else%}未提交{%/if%}
    {%else%}
    	{%if $show.u.is_lock%}已审核, <a href="javascript:print();">点此打印订单</a>{%else%}未审核{%/if%}
    {%/if%} </font></td>
  </tr>
</table>

{%if $show.shendan%}
<br>
<br>
<form action="/user/lock_order/{%$show.u.id%}">
  {%if $show.u.is_lock%}
  <input type="hidden" name="lock" value=0>
  <input type="submit" name="submit" value="已提交审单！点击取消" style="width:100%;height:40px;font-size:20px;" onclick="return confirm('确认取消审单?');">
  {%else%}
  {%if $show.hasCancelLog eq 1 && $show.reviewLog.num > $show.all_num%}
  <input type="submit" name="submit" value="点此提交审单" style="width:100%;height:40px;font-size:20px;" onclick="return confirm('友情提醒：此订单较反审核前减少了{%$show.reviewLog.num - $show.all_num%}件；继续审核请点击确认!');">
  {%else%}
  <input type="submit" name="submit" value="点此提交审单" style="width:100%;height:40px;font-size:20px;" onclick="return confirm('确认提交审单?');">
  {%/if%}
{%/if%}
</form>
{%/if%}
</body>
</html>
