{%section name=i loop=$show.list%}
<li class="li2">
    <div class="descri" style="height:26px;">
        <div class="price">
            <span class="amount">
                {%if $show.list[i].order_rank && $show.num_order_show && $show.num_order_show >= $show.list[i].order_rank%}排名:第<em>{%$show.list[i].order_rank|default:0%}</em>{%/if%}
            </span>
            <strong>¥<b>{%$show.list[i].price%}</b></strong>
        </div>
    </div>
    <div class="imgbox"><a data-href="/dealer1/product/{%$show.list[i].id%}" href="javascript:void(0)" class="fancyboxBook"><img src="/thumb/210/{%$show.list[i].defaultimage%}"></a></div>
</li>

<li class="li33">
    <h4 class="clearfix">
        <span class="nid">款号:{%$show.list[i].kuanhao%}（{%$show.list[i].style_id|hdt_keyword%}）{%if $show.list[i].status==0%}<font color="red">删除款</font>{%/if%}</span>
        {%if $show.list[i].has_permission_brand%}
        <span class="stylenum">
        圆牌号:
            {%section name=j loop=$show.list[i].color_list%}
            {%$show.list[i].color_list[j].skc_id%}
            {%/section%}
            
        </span>
        {%/if%}
    </h4>
    {%if $show.list[i].has_permission_brand%}
    <div class="pro_tabl pro_tabl_over">
        <table cellspacing="0" cellpadding="0" border="0" class="HDT-keyborad" id="HDT-ot{%$show.list[i].id%}" data-product-id="{%$show.list[i].id%}" style="table-layout:auto;" data-start-num="{%$show.order_start_num%}" data-start-pass="{%$show.order_start_pass%}" data-moq="{%$show.list[i].moq.minimum%}">
            <tbody><tr>
                <th style="width:60px;"></th>
                {%section name=z loop=$show.list[i].size_list%}
                <th>{%$show.list[i].size_list[z].name%}</th>
                {%/section%}
                <th>总:<em class="HDT-count-all"></em></th>
                </tr>
                {%section name=j loop=$show.list[i].color_list%}
                <tr data-color-id="{%$show.list[i].color_list[j].color_id%}">
                  <td>{%$show.list[i].color_list[j].name%}</td>
                    {%if $show.list[i].color_list[j].status%}
                        {%section name=z loop=$show.list[i].size_list%}
                        <td><input style="width:80%" type="text" readonly="readonly" data-product-id="{%$show.list[i].id%}" data-color-id="{%$show.list[i].color_list[j].color_id%}" data-size-id="{%$show.list[i].size_list[z].size_id%}" data-category-id="{%$show.list[i].category_id%}" {%if $show.company.proportion_status%}data-is-proportion="{%$show.list[i].is_proportion%}" {%if $show.list[i].is_proportion%}data-proportion-list="{%$show.list[i].proportion_list%}"{%/if%}{%/if%}></td>
                        {%/section%}
                    {%else%}
                        <td colspan="{%$show.list[i].size_list|count%}">此款色已删除</td>
                    {%/if%}
                  <td class="HDT-order-count"></td>
                </tr>
                {%/section%}
            </tbody>
        </table>
        {%if $show.list[i].moq%}最小起订量：<em>{%$show.list[i].moq.minimum%}</em>{%/if%}
        
    </div>
    <h4 class="floatRight">
        <input type="button" value="保存订单" class="btn_gree HDT-order-save" data-product-id="{%$show.list[i].id%}">
            <input type="button" value="取消订单" class="btn_gray2 HDT-order-cancel" data-product-id="{%$show.list[i].id%}">
        </h4>
    {%/if%}
</li>
{%/section%}