<div class="toolmenu clearfix" id="HDT-foot-menu">
  <ul>
  <li id="menu_index"><a href="/" id="menu1"><span class="ui-btn-ico"></span>订货</a></li>
  <li id="menu_order"><a href="/order" id="menu2"><span class="ui-btn"><span class="ui-btn-ico"></span>订单</span></a></li>
  <li id="menu_list"><a href="/list" id="menu3"><span class="ui-btn"><span class="ui-btn-ico"></span>分析</span></a></li>
  <li id="menu_static"><a href="/setup.html" id="menu4"><span class="ui-btn"><span class="ui-btn-ico"></span>指引</span></a></li>
  </ul>
</div>
<script>
(function(){
    var id = "menu_{%$control%}", m;
    if(m = document.getElementById(id)){
        m.className = "on";
    }
})();
</script>