<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>好订通</title>
{%include file="header.html"%}
</head>

<body class="bodybg">
<div class="contain">
{%include file="top.html"%}
  <div class="mainbox">
    <div class="main_con">
    <div class="detail_box">
    <div class="probox">
    <dl class="this_txt ad_this_txt clearfix">
    <dt>搭配号:{%$show.group.dp_num%}</dt>
    <dd class="">
       <div class="floatLeft productImgBig"><img src="http://ipad.20fd.com/thumb/458/2013/07/15/19/8f4a8b9cf1c288a062fc0b86755c774d.jpg" /></div>
       <div class="floatLeft textContent">
       		<div class='topRefresh'><span><b>10秒</b>刷新</span></div>
       		<p>位列陈列第三：总计：<b>2581</b>件;</p>
       		<p>最多区域：江西<b>580</b>件;</p>
       		<p>最少区域：哈尔滨<b>80</b>件;</p>
       		<p>最多客户：江西南总<b>380</b>件;</p>
       		<p>最少客户：江苏北总<b>580</b>件;</p>
       </div>
    </dd>
    </dl>

    <div id="HDT-photos">
	<div id="photo_main">
	<ul>
	<li class="floatLeft"><div class="topImg"><span>1名</span><img src='http://ipad.20fd.com/thumb/75/data/19/1.jpg' /></div><div class="botDiv">001号<br><b>581件</b>50%</div></li>
	<li class="floatLeft"><div class="topImg"><span>1名</span><img src='http://ipad.20fd.com/thumb/75/data/51/1.jpg' /></div><div class="botDiv">001号<br><b>581件</b>50%</div></li>
	<li class="floatLeft"><div class="topImg"><span>1名</span><img src='http://ipad.20fd.com/thumb/75/data/121/1.jpg' /></div><div class="botDiv">001号<br><b>581件</b>50%</div></li>
	<li class="floatLeft"><div class="topImg"><span>1名</span><img src='http://ipad.20fd.com/thumb/75/data/125/1.jpg' /></div><div class="botDiv">001号<br><b>581件</b>50%</div></li>
	<li class="floatLeft"><div class="topImg"><span>1名</span><img src='http://ipad.20fd.com/thumb/75/data/183/2.jpg' /></div><div class="botDiv">001号<br><b>581件</b>50%</div></li>
	</ul>
	</div>
    </div>

    <div class="clear"></div>
    </div>

    <h3 class="de_subtitle">订货明细</h3>
    <ul class='orderDetail'>
    <li>
    <div class="floatLeft detailImg"><img src="http://ipad.20fd.com/thumb/210/data/121/1.jpg"></div>
    <div class="floatLeft detaiContent">
    <span class="productInfo"><b>编号:003</b><b>套号:002</b><b>价格:199元</b><b>T恤</b><b>内杆3名</b><b>套内2名</b><b>总第28名</b></span>
    <table class="detailTb">
    	<tr><th>区域名</th><th>计量小计</th><th>应订人数</th><th>已定人数</th><th>被定率</th><th>最多个体</th><th>最少个体</th></tr>
    	<tr><td>汇总</td><td>900件</td><td>500</td><td>200</td><td>40%</td><td>北京总代</td><td>江西上饶</td></tr>
    	<tr><td>江西</td><td>200件</td><td>100</td><td>10</td><td>10%</td><td>江西赣州</td><td>江西上饶</td></tr>
    </table>
    </div>
    </li>


    <li>
    <div class="floatLeft detailImg"><img src="http://ipad.20fd.com/thumb/210/data/19/1.jpg"></div>
    <div class="floatLeft detaiContent">
    <span class="productInfo"><b>编号:003</b><b>套号:002</b><b>价格:199元</b><b>T恤</b><b>内杆3名</b><b>套内2名</b><b>总第28名</b></span>
    <table class="detailTb">
    	<tr><th>区域名</th><th>计量小计</th><th>应订人数</th><th>已定人数</th><th>被定率</th><th>最多个体</th><th>最少个体</th></tr>
    	<tr><td>汇总</td><td>900件</td><td>500</td><td>200</td><td>40%</td><td>北京总代</td><td>江西上饶</td></tr>
    	<tr><td>江西</td><td>200件</td><td>100</td><td>10</td><td>10%</td><td>江西赣州</td><td>江西上饶</td></tr>
    </table>
    </div>
    </li>


        <li>
    <div class="floatLeft detailImg"><img src="http://ipad.20fd.com/thumb/210/data/51/1.jpg"></div>
    <div class="floatLeft detaiContent">
    <span class="productInfo"><b>编号:003</b><b>套号:002</b><b>价格:199元</b><b>T恤</b><b>内杆3名</b><b>套内2名</b><b>总第28名</b></span>
    <table class="detailTb">
    	<tr><th>区域名</th><th>计量小计</th><th>应订人数</th><th>已定人数</th><th>被定率</th><th>最多个体</th><th>最少个体</th></tr>
    	<tr><td>汇总</td><td>900件</td><td>500</td><td>200</td><td>40%</td><td>北京总代</td><td>江西上饶</td></tr>
    	<tr><td>江西</td><td>200件</td><td>100</td><td>10</td><td>10%</td><td>江西赣州</td><td>江西上饶</td></tr>
    </table>
    </div>
    </li>
    </ul>
  <br/>
  <br/>
  <br/>
    </div>
    <!--foot-->
      {%include file="footer.html"%}
      <!--foot end-->
    </div>
    <!--rightbar-->
    {%include file="right.html"%}
    <!--rightbar end-->
    <div class="clear"></div>
  </div>
  <br><br><br><br><br><br><br><br><br><br><br><br>
</div>
<script>
seajs.use('lj/dealer1/groupdetail');
</script>
</body>
</html>
