<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>好订通</title>
{%include file="header.html"%}
</head>

<body class="bodybg">
<div class="contain">
{%include file="top.html"%}
  <div class="mainbox">
    <div class="main_con">
      <div class="box">
        {%$show.u.username%}
        {%$show.u.name%}
        <table border="0" cellpadding="0" cellspacing="0" class="table01" id="HDT-main">
          <tr>
            <th>{%$keyword.brand_id%}</th>
            <th>订量</th>
            <th>金额</th>
            <th>下载</th>
          </tr>
          {%section name=i loop=$show.list%}
          <tr>
            <td>{%$show.list[i].brand_id|hdt_keyword%}</td>
            <td>{%$show.list[i].num%}</td>
            <td>{%$show.list[i].price|price_cn%}</td>
            <td><a href="/ad/download_order/{%$show.u.username%}?brand_id={%$show.list[i].brand_id%}" class="HDTD">下载</a></td>
          </tr>
          {%/section%}
        </table>
      </div>
      <!--foot-->
      {%include file="footer.html"%}
      <!--foot end-->
    </div>
    <!--rightbar-->
    {%include file="right.html"%}
    <!--rightbar end-->
    <div class="clear"></div>
  </div>
</div>
<script>
seajs.use('lj/a/download_order_list');
</script>
</body>
</html>
