{%if $show.info%}
<tr>
<th>序号</th>
<th>账户名</th>
<th>订单数量</th>
<th>订货金额</th>
{%if $show.company.check_order eq 1%}
<th colspan='3'>操作</th>
<th>订单确认</th>
{%else%}
<th colspan='2'>操作</th>
{%/if%}
</tr>
<tr>
<td></td>
<td>汇总</td>
<td>{%$show.info.ord.num%}</td>
<td>{%$show.info.ord.price|price_cn%}</td>
{%if $show.company.check_order eq 1%}
<td colspan='3'></td>
<td></td>
{%else%}
<td colspan='2'></td>
{%/if%}
</tr>
{%/if%}
{%foreach from=$show.list key=slk item=slv%}
{%$count=$count+1%}
<tr>
      <td>{%($show.pageinfo.index-1)*($show.pageinfo.limit)+$count%}</td>
<td>
	{%$slv.username%}
      <font color="blue"><strong>{%$slv.name%}</strong></font>	
</td>
<td>{%$slv.num%}</td>
<td>{%$slv.price|price_cn%}</td>
<td>
{%if $slv.username%}
            <a href="/orderlist/print_now/{%$slv.username%}?key={%$show.company.print_type%}&shendan=1" target="_blank">{%if $slv.is_lock%}<font color="red">已审</font>{%else%}审单{%/if%}</a>
            {%if $show.company.check_order neq 1%}{%if $slv.is_lock%}<a href="/user/lock_order/{%$slv.id%}?lock=0">取消</a>{%/if%}{%/if%}
{%/if%}
</td>
{%if $show.company.check_order eq 1%}
<td>
{%if $slv.order_status eq 2%}
<a href="javascript:void(0)"  data-uid="{%$slv.id%}">已驳回</a>
{%else%}
<a href="javascript:void(0)" class="refused_order" data-uid="{%$slv.id%}">驳回</a>
{%/if%}
</td>
{%/if%}
<td>
{%if $slv.username%}
<a href="/orderlist/print_now/{%$slv.username%}?key={%$show.company.print_type%}" target="_blank">打印</a>
{%/if%}</td>
{%if $show.company.check_order eq 1%}
<td>
{%if $slv.order_status eq 3%}
<a href="javascript:void(0)" class="confirm_order" data-uid="{%$slv.id%}">已确认</a>
{%else%}
<a href="javascript:void(0)" class="confirm_order" data-uid="{%$slv.id%}">待确认</a>
{%/if%}
</td>
{%/if%}
</tr>
{%/foreach%}