<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>好订通</title>
{%include file="header.html"%}
</head>

<body class="bodybg">
<div class="contain">
  {%include file="top.html"%}
  <div class="mainbox">
    <div class="main_con">
      <div class="box">
        <div class="construebox">
          <div class="cleftmenu">
            <h3>项目\内容</h3>
            {%include file="rule/menu.html"%}
            </div>
          
          <div class="cons_main">
            <div class="cons_tabl" id="HDT-main">
              <form action="/rule/adding/{%$show.rule.id%}" method="POST">
                <input type="hidden" name="field" value="{%$show.t%}">
              <table  border="0" cellpadding="0" cellspacing="0">
                <tr>
                  <th>{%if $message%}<font color="red">{%$message%}</font>{%/if%}</th>
                  <th><input type="text" name="name" value="{%$show.rule.name%}"></th>
                  <th><input type="submit" value="保存"></th>
                </tr>
                {%section name=i loop=$show.list%}
                <tr>
                  <td>{%$show.list[i].name%}</td>
                  <td>
                    <input type="text" name="rid_{%$show.list[i].keyword_id%}" value="{%$show.list[i].percent%}" placeholder="0-100之间的数字"> %
                  </td>
                  <td>
                  </td>
                </tr>
                {%/section%}
              </table>
              </form>
            </div>
         </div>
           <div class="clear"></div>
        </div>
        
      </div>
       <!--foot-->
{%include file="footer.html"%}
      <!--foot end-->
    </div>
    {%include file="right.html"%}
    <div class="clear"></div>
  </div>
</div>
<script>
seajs.use('lj/admin/rule/add');
</script>
</body>
</html>
