<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>好订通</title>
{%include file="header.html"%}
</head>

<body class="bodybg">
<div class="contain">
  {%include file="top.html"%}
  <div class="mainbox">
    <div class="main_con">
      <div class="box">
        <div class="construebox">
          <div class="cleftmenu">
            <h3>订货指引</h3>
            {%include file="rule/menu.html"%}
            </div>
          
          <div class="cons_main">
            <div class="cons_tabl" id="HDT-main">
              <table  border="0" cellpadding="0" cellspacing="0">
                <tr>
                  <th>{%if $message%}<font color="red">{%$message%}</font>{%/if%}</th>
                  <th><a href="/rule/add?t={%$show.t%}" style="color:blue;"><strong>添加指引</strong></a></th>
                </tr>
                {%section name=i loop=$show.list%}
                <tr>
                  <td>{%$show.list[i].name%} [<a href="/rule/add/{%$show.list[i].id%}?t={%$show.t%}" style="color:blue;">编辑指引</a>]</td>
                  <td>
                    [<a href="/rule/user/{%$show.list[i].id%}?t={%$show.t%}" style="color:blue;">店仓管理</a>]
                  </td>
                </tr>
                {%/section%}
              </table>
            </div>
         </div>
           <div class="clear"></div>
        </div>
        
      </div>
       <!--foot-->
{%include file="footer.html"%}
      <!--foot end-->
    </div>
    {%include file="right.html"%}
    <div class="clear"></div>
  </div>
</div>
<script>
// seajs.use('lj/admin/moq/index');
</script>
</body>
</html>
